<body>

  <h2>Contact List</h2>
  <h4><a href="/new">Add new</a></h4>
  <table>
      <thead>
          <tr>
              <th>Name</th>
              <th>Phone Number</th>
              <th>Email</th>
              <th class="table_button">
                <form action = "/sort" method="post">
                  <input type="submit" value="Sort <%=next_sort_type%>ly">
                </form> 
              </th>
          </tr>
      </thead>
      <tbody>
        <%sort_contacts(session[:contacts]).each do |contact|%>
          <tr>
            <td><%=contact[:name]%></td>
            <td><%=contact[:number]%></td>
            <td><%=contact[:email]%></td>
            <td class="table_button">
              <form action = "/delete" method="post">
                <input type="hidden" name="id" value=<%=contact[:id]%> >
                <input type="submit" value="Delete">
              </form>
            </td>
          </tr>
        <%end%>
      </tbody>
  </table>